{% extends 'customer/base.html.twig' %}

{% trans_default_domain 'app' %}

{% block content %}
<div class="container py-5">
    <h2>{{ 'company.active-companies'|trans }}</a></h2>
    <div>
        <div class="table-responsive">
            {% if activeCompanies %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">{{ 'company.table.title'|trans }}</th>
                        <th scope="col">{{ 'company.table.owner'|trans }}</th>
                        <th scope="col">{{ 'company.table.address'|trans }}</th>
                        <th scope="col">{{ 'company.table.post-code'|trans }}</th>
                        <th scope="col">{{ 'company.table.city'|trans }}</th>
                        <th scope="col">{{ 'company.table.country'|trans }}</th>
                        <th scope="col">{{ 'general.details'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for company in activeCompanies %}
                        <tr>
                            <td>{{ company.title }}</td>
                            <td>{{ company.firstName }} {{ company.lastName }}</td>
                            <td>{{ company.street }} {{ company.number }}</td>
                            <td>{{ company.postCode }} </td>
                            <td>{{ company.city }}</td>
                            <td>{{ company.country }}</td>
                            <td><a href="{{ path('customer_company', {id: company.id}) }}" class="btn btn-info"><i class="text-light fa-solid fa-circle-info"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {{ 'general.empty-category'|trans }}
            {% endif %}
        </div>
    </div>
    {% if totalPages > 1 %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link {% if currentPage == 1 %} disabled {% endif %}" href="{{ path('customer_all_companies', {page: currentPage - 1}) }}"><i class="fa-solid fa-square-caret-left"></i></a></li>
                {% for page in 1..totalPages %}
                    <li class="page-item"><a class="page-link {% if page == currentPage %} active {% endif %}" href="{{ path('customer_all_companies', {page: page}) }}">{{ page }}</a></li>
                {% endfor %}
                <li class="page-item"><a class="page-link {% if currentPage == totalPages %} disabled {% endif %}" href="{{ path('customer_all_companies', {page: currentPage + 1}) }}"><i class="fa-solid fa-square-caret-right"></i></a></li>
            </ul>
        </nav>
    {% endif %}
</div>
{% endblock %}
