{% extends 'admin/base.html.twig' %}

{% trans_default_domain 'app' %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-8">
            {% if table %}
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">{{ 'form.element.tin'|trans }}</th>
                            <th scope="col">{{ 'form.element.title'|trans }}</th>
                            <th scope="col">{{ 'review.table.profit'|trans }} [RSD]</th>
                            <th scope="col">{{ 'review.table.vat'|trans }} [RSD]</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in table %}
                            <tr>
                                <td>{{ row.tin }}</td>
                                <td>{{ row.title }}</td>
                                <td>{{ row.payed }}</td>
                                <td>{{ row.vat }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p style="font-size: 20px;">
                    {% if formSubmitted %}
                        {{ 'general.no-review-data'|trans }}
                    {% else %}
                        {{ 'general.no-data-before-submission'|trans }}
                    {% endif %}
                </p>
            {% endif %}
        </div>
        <div class="col-md-4 admin-review-search-form">
            {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                <label for="admin_review_search_form_title">{{ 'form.element.title'|trans }}</label>
                {{ form_row(form.title, {attr: {class: 'form-control'}}) }}

                <label class="mt-3" for="admin_review_search_form_tin">{{ 'form.element.tin'|trans }}</label>
                {{ form_row(form.tin, {attr: {class: 'form-control'}}) }}

                <label class="mt-3" for="admin_review_search_start_date">{{ 'form.element.start-date'|trans }}</label>
                {{ form_row(form.start_date, {attr: {class: 'form-control'}}) }}

                <label class="mt-3" for="company_registration_end_date">{{ 'form.element.end-date'|trans }}</label>
                {{ form_row(form.end_date, {attr: {class: 'form-control'}}) }}

                {{ form_row(form.submit, {attr: {class: 'btn btn-lg btn-primary mt-3'}}) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}

{#{% block javascripts %}#}
{#<script>#}
{#    window.addEventListener('beforeunload', (event) => {#}
{#        if (document.activeElement.href !== undefined) {#}
{#            if(!event) event = window.event;#}
{#            event.cancelBubble = true;#}

{#            if (event.stopPropagation) {#}
{#                event.stopPropagation();#}
{#                event.preventDefault();#}
{#            }#}

{#            event.returnValue = '';#}
{#        }#}
{#    });#}
{#</script>#}
{#{% endblock %}#}
